root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
dotnet_diagnostic.IDE0130.severity = none

# VSTHRD100: Avoid async void methods
dotnet_diagnostic.VSTHRD100.severity = none

# VSTHRD101: Avoid unsupported async delegates
dotnet_diagnostic.VSTHRD101.severity = none

# VSTHRD200: Use "Async" suffix for async methods
dotnet_diagnostic.VSTHRD200.severity = none

# IL2057: Unrecognized value passed to the parameter of method. It's not possible to guarantee the availability of the target type.
dotnet_diagnostic.IL2057.severity = none
